

.galery{
    width: 340px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.galary_fieid{
    width: 1300px;
    display: flex;
    gap:10px;
  

} 
.galary_item{
    width: 340px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.galary_item img{
    width: 290px;
}

.arrow_right{
    background: url(./images/chevron-right-square-svgrepo-com.svg);
    width: 30px;
    height: 30px;
    background-size: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -2px;
}

.arrow_left{
    background: url(./images/chevron-right-square-svgrepo-com.svg);
    width: 30px;
    height: 30px;
    background-size: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-180deg);
    left: -2px;
  
}