
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #0E0E0E;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
  
}
a{
    color: transparent;
    text-decoration: none;
}
li{
    color: transparent;
    text-decoration: none; 
}
p{
    padding: 0;
    margin: 0;
}
#header{
   
    display: flex;
    justify-content: space-between;
    height: 56px;
    border-bottom: 1px solid #6D6D6D20;
    width: 340px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 6px;
}
#logo_desk{
    display:none;
    padding: 0;
    margin: 0;
    border:none;
    background-color:#0e0e0e00;
    cursor: pointer;
}
#contacts{
    display: flex;
    justify-content: center;
    gap: 5px;
   
  
}
#contacts span{
    font-family: "Inter", sans-serif;
    color:#E4B564;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

#contacts a{
    color:white;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.call_button{
    color:#E4B564;
    border: 1px solid #E4B564;
    border-radius:2px;
    text-align: center;
    background-color: transparent;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    width: 160px;
    height: 30px;
}

#menu{
    width: 340px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 25px auto;
}
#hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color:white;
    font-size: 23px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 30px 0;
    width: 290px;
    
}
h1 span{
    color:#E4B564;
} 
h2{
    position: relative;
    font-size: 20px;
    line-height: 22px;
    padding: 0;
    margin: 0 auto; 
    width: 290px;
    font-weight: bold; 
    text-transform:uppercase ;
    color:#333333;
    z-index: 1;
}
h2 span{
    color:#E4B564;
}  
h3{
    
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    margin: 0; 
    width: 220px;
    font-weight: bold;
}
.box{
    position: relative;
    height: 135px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1px solid #E4B564;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 240px;
    z-index: 1;
    color:#ffffff ;
}
#hero img{
    width: 64px;
    height: 64px;
}
.two,.four{
    color:#333333 ;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 11px #00000025;
}
.two,.four h3{
    color:#333333 ;
    
}

#services{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 50px 0 0;
    
}


#services img{
    position: absolute;
    width: 100%;
    top: -180px;
    z-index: 0;
    height: 710px;
}
#services_ul{
    position: relative;
    width: 290px;
    background-color:#333333;
    z-index: 1;
    padding: 25px 0 25px 25px;
    margin: 30px auto 0 auto;
    border-radius:10px;
    box-sizing: border-box;
    
}
.services_li a{
    color:#ffffff;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 14px;
    font-weight: bold;
}

.services_li a::before{
    content:'+';
    color: #E4B564;
    font-weight: 600;
    margin-right: 6px;
}
.services_plus{
    position: relative;
    z-index: 1;
    width: 290px;
    height: 80px;
    margin: 15px auto 0 auto;
    border-radius: 10px;
    border:1px solid #333333;
    display: flex;
    justify-content: space-between;
    align-items:center;
    box-sizing: border-box;
    padding: 0 25px;
    font-size: 16px;
    line-height: 14px;
    font-weight: bold;
}
#services .services_plus img{
    width: 64px;
    height: 64px;
    position: relative;
    top: 0;
    
}
.sp_two{
    margin-bottom: 25px;
}
#advantages{
    padding-top: 25px;
    width: 290px;
    margin: 0 auto;
    
}
#advantages h2{
    color:#ffffff;
    margin-bottom: 30px;
}

.advantages_item{
    position: relative;
    box-sizing:border-box;
    width: 290px;
    display: flex;
    flex-direction: column;
    height: 110px;
    border-radius: 10px;
    padding: 10px 0 0 25px;
    margin-bottom: 15px;

}

.advantages_item h3{
    width: 290px;
    margin-bottom: 8px;
}

.advantages_item p{
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    width: 245px;
    padding: 0;
    margin: 0;
}
.advantages_item span{
    position: absolute;
    color:#33333345;
    font-size: 32px;
    font-weight: 600;
    right: 11px;
    bottom: 5px;
}
.advantages_item span.ai_2{
    color: #E4B56445;
}

.ai_one, .ai_three{
    background-color:#ffffff;
    color:#333333;
    box-shadow: 0 4px 7px #57575774;
    z-index: 1;
    
}
.ai_two{
    
    border:1px solid #ffffff;
    color:#ffffff;
}

#objects{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 50px 0 0;
}

#objects img{
    position: absolute;
    top: -110px;
    z-index: 0;
    width: 100%;
    height: 760px;

}

.objects_field{
    width: 290px;
    height: 500px;
    margin: 30px auto 0;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    
}
.object_item{
    position: relative;
    display: flex;
    justify-content: left;
    align-items:top;
    border-radius:10px;
      text-align: center;
     padding-top:15px ;
      
      color:#ffffff;
      
}

.object_item:hover{
    
    color:#e4b56400;
    
    
}


#objects .object_item img{
    filter: brightness(0.3);
    transition-duration: .8s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    
}

#objects .object_item img:hover{
    filter: brightness(1);
    transition-duration: .8s;
    
    
}


.object_item h3{
    z-index: 1;
font-weight: 900;
text-transform: uppercase;
width: 0;
height: 0;




}

.objects_field h3{
    width: 120px;
}

.oi_1{
    
}
.oi_2{
    
}
.oi_3{
    
    grid-column: 1 / span 2;
    grid-row: 3/ 4;
    
}
.oi_4{
    
    grid-column: 1 / span 2;
    grid-row: 4/ 5;
}

.oi_5{
    
    grid-row-start: 1;
    grid-row-end: 3;
}

footer{
    padding-top: 100px;

}
#footer{
    width: 290px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color:#ffffff;
}
 .tel{
   padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content:left;
    gap: 6px;
    margin-bottom: 20px;
}
.t_one{
    position: relative;
}
.t_one::before{
    content:url(./images/phone-svgrepo-com\ \(1\)\ 2.svg);
    position: absolute;
    top: -3px;
    left: -25px;
    
   
}
.tel span{
    color:#E4B564;
}
#footer .tel a{
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color:#ffffff;
}

.mail{
    padding-left: 25px;
    margin-bottom: 20px;
}
.mail a::before{
    content:url(./images/letter-unread-svgrepo-com\ \(2\)\ 2.svg);
    position: absolute;
    top: -3px;
    left: -25px;
}
.mail a{
    position: relative;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color:#E4B564;
}


.time{
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content:left;
    margin-bottom: 40px;
}
.time span{
    position: relative;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color:#ffffff;
    margin-bottom: 3px;
}
.time span::before{
    content:url(./images/time-svgrepo-com\ 1.svg);
    position: absolute;
    top: -3px;
    left: -25px;
}
.time p{
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color:#ffffff;
    margin-bottom: 2px;
}
.social{
    display: flex;
    justify-content: space-between;
}
